*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(145deg, #1f2937, #111827);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}
.container{
    display: flex;
    justify-self: center;
    align-items: center;
    text-align: center;
}
.card{
    background: #1f2937;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    width: 90%;
   position: relative;
   overflow: hidden;
    max-width: 400px;
}

.advice{
    color: #4ade80;
    font-size: 10px;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

.para{
font-size: 17px;
font-weight: bold;
line-height: 1.5;
margin: 1rem 0;
color: #ffffff;
}

button{
    background-color: #4ade80;
    border: none;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.3 ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

button:hover{
    background-color: #22c55e;
    transform: translateX(-50%) scale(1.1);
    box-shadow: 0 8px 25px rgba(0, 225, 0, 0.4);
}

button i{
    font-size: 20px;
    color: white;
    border-radius: 50%;
}

@media (max-width: 768px){
    .card{
        padding: 1.5rem;
    }
    .para{
        font-size: 1rem;
    }
    button{
        padding: -10px;
    }
    button i {
        font-size: 15px;
    }
}